@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--sans-font);
  --font-mono: var(--mono-font);
}

body {
  @apply antialiased;
  text-rendering: geometricPrecision;
}

::selection {
  @apply bg-zinc-600 text-white;
}
